.container{
    padding: none;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}

.addWorkout {
    width: 100%;
    padding: 15px;
    background-color: #2d2d2d;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.trenTemplates {
    margin-bottom: 10px;
    color: white;
    text-align: center;
    background-color: #404040;
    border-radius: 20px;
}

.addFromTemplate{
    width: 80%;
    border:none;
    background-color: transparent;
    color: white;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
}

.backButton {
    background: none;
    border: none;
    color: white;
    font-size: 0.8rem;
    cursor: pointer;
    margin-bottom: 20px;
}

.backButton:hover {
    transform: translateX(-3px);
  }

.buttonDeleteTemplate{
    background-color: transparent;
    color: #ffffff80;
    border:none;
}

