.bottomBarContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #1b1b1b80;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.training, .food, .tape {
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.training:hover, .food:hover, .tape:hover {
    transform: scale(1.1);
}

.icon {
    font-size: 40px;
    color: rgb(160, 160, 160);
    transition: color 0.2s ease-in-out;
}

.icon.active {
    color: rgb(240, 240, 240) !important;
    font-size: 45px;
}